body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-size: 100px;
  background-image: url(../public/img/nasa-Q1p7bh3SHj8-unsplash.jpg);
}

h1 {
  color: aliceblue;
}

body {
  background-color: aqua;
}

#map {
  border-style: none;
  border-radius: 20px;
}

#footer {
  position: fixed;
  bottom: 0;
  color: black;
}
