body {
  width: max-content;
  margin: auto;
  background-color: rgb(170, 187, 187);
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#item {
  color: white;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 600px 500px;
  background-image: url(../public/img/nasa-Q1p7bh3SHj8-unsplash.jpg);
}

h1 {
  color: white;
  text-align: center;  
}

#map {
  margin: auto;
  border-style: none;
  border-radius: 20px;
}

#footer {
  align-items: center;
  bottom: 0;
  color: black;
}
